html {
  font-size: 32px;
  font-family: 'Schoolbell', cursive;
}

body {
  margin: 0;
  overflow-y: scroll;
  background-color: #005f24;
  background-image: url(/dust.png);
  background-size: 512px;
}

.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
  border: 4px solid #69540d;
  box-sizing: border-box;
  color: white;
  background-image: url(/chalk.png);
  background-size: 32px;
  isolation: isolate;
}

.game {
  display: flex;
  flex-direction: column;
  mix-blend-mode: darken;
}

.game-main {
  margin: 1rem 2rem;
  text-align: center;
}

.status {
  margin-bottom: 1em;
}

.board-grid {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 9rem;
  width: 9rem;
  line-height: 3rem;
  font-size: 1.8rem;
  color: #ffffc6;
}

.board-grid-jump-backward {
  animation: board_grid_jump_backward 200ms;
}

.board-grid-jump-invalid {
  animation: board_grid_jump_invalid 200ms;
}

.board-grid-jump-forward {
  animation: board_grid_jump_forward 200ms;
}

@keyframes board_grid_jump_backward {
  0% {
    animation-timing-function: ease-out;
  }

  50% {
    transform: rotate(-5deg);
    animation-timing-function: ease-in;
  }
}

@keyframes board_grid_jump_invalid {
  0% {
    animation-timing-function: ease-out;
  }

  50% {
    transform: scale(0.9);
    animation-timing-function: ease-in;
  }
}

@keyframes board_grid_jump_forward {
  0% {
    animation-timing-function: ease-out;
  }

  50% {
    transform: rotate(5deg);
    animation-timing-function: ease-in;
  }
}

.board-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.square {
  border: 3px solid white;
  margin: -3px 0 0 -3px;
  flex: 1;
  cursor: pointer;
  transition:
    background-color 400ms ease-out,
    box-shadow 400ms ease-in;
  text-shadow:
    0 0 0.2em rgba(255, 129, 188, 0.7),
    0 0 0.5em rgba(255, 129, 188, 0.7);
}

.square:hover {
  background-color: rgba(251, 202, 225, 0.10);
  box-shadow:
    inset 0 0 1.5rem #005f24,
    inset 0 0 2.5rem #005f24;
  transition:
    background-color 50ms ease-in,
    box-shadow 50ms ease-out;
}

.square:not(:empty) {
  text-shadow: none;
  transition: text-shadow 500ms ease-in;
}

.board-row:first-child .square {
  border-top: none;
}

.board-row:last-child .square {
  border-bottom: none;
}

.square:first-child {
  border-left: none;
}

.square:last-child {
  border-right: none;
}

.history {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
}

.history-entry {
  font: inherit;
  color: inherit;
  background: none;
  border: 2px solid white;
  padding: 0.2em 0.6em;
  border-radius: 0.4em;
  cursor: pointer;
  outline: none;
  transition: box-shadow 300ms ease-out;
}

.history-entry:hover {
  box-shadow:
    inset 0 0 0.5em rgba(251, 202, 225, 0.7),
    0 0 0.8em rgba(0, 0, 0, 0.3);
  transition: box-shadow 50ms ease-in;
}

.history-entry:not(:first-child) {
  margin-top: 0.6em;
}

.history-entry-current {
  color: #b8e1fd;
  border-color: #b8e1fd;
}

.history-entry-next {
  opacity: 0.5;
}

.history-entry-entering {
  transform: scale(1, 0);
  box-shadow:
    inset 0 0 1.0em rgba(255, 129, 188, 0.7);
}

.history-entry-entered {
  transition:
    transform 200ms ease-out,
    box-shadow 1000ms ease-in;
}

.history-entry-exiting {
  transform: scale(0);
  opacity: 0;
  transition:
    transform 400ms ease-in,
    opacity 400ms ease-in;
}

@media (min-width: 50rem) {
  body {
    overflow-y: auto;
  }

  .game {
    flex-direction: row;
    justify-content: center;
  }

  .history {
    margin-top: 2rem;
  }
}
