html {
  font-size: 32px;
  font-family: 'Schoolbell', cursive;
}

body {
  margin: 0;
  background-color: #005f24;
  background-image: url(/dust.png);
  background-size: 512px;
}

.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
  border: 4px solid #69540d;
  box-sizing: border-box;
  color: white;
  background-image: url(/chalk.png);
  background-size: 32px;
  isolation: isolate;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  mix-blend-mode: multiply;
}

.game-main {
  margin: 1rem 2rem;
  text-align: center;
}

.status {
  margin-bottom: 1em;
}

.board-grid {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 9rem;
  width: 9rem;
  line-height: 3rem;
  font-size: 1.8rem;
}

.board-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.square {
  border: 3px solid white;
  margin: -3px 0 0 -3px;
  flex: 1;
  cursor: pointer;
}

.board-row:first-child .square {
  border-top: none;
}

.board-row:last-child .square {
  border-bottom: none;
}

.square:first-child {
  border-left: none;
}

.square:last-child {
  border-right: none;
}

.history {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
}

.history-entry {
  font: inherit;
  color: inherit;
  background: none;
  border: 2px solid white;
  padding: 0.2em 0.5em;
  border-radius: 0.4em;
  cursor: pointer;
}

.history-entry:not(:first-child) {
  margin-top: 10px;
}
